body {
    background: linear-gradient(to bottom,#032F5E, #215A7E);
}

/* todo codigo do header é provisorio */


/*O Header acabou e o Main começou  */
main h1{
    font-size: 28px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 80px;
    margin-bottom: 20px;
}

main h2{
    font-size: 14px;
    text-align: center;
    font-family: 'Inter', sans-serif;

}


