body{

    background: linear-gradient(to bottom,#021827, #1D6C9D);
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direita{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 180px;
}

.perfil{
    width: 40px;
    border-radius: 50%;
}



.pesquisa{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.pesquisa input{
    width: 400px;
    padding: 12px 20px;

    border-radius: 30px;
    border: 1px solid rgba(255,255,255,0.3);

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);

    color: white;
    outline: none;
}

.pesquisa input::placeholder{
    color: rgba(255,255,255,0.7);
}

