/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
    color: #ddd;
}

.logo {
    width: 45px;
    margin-bottom: 8px;
}

.header h1 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 280px;
    padding: 30px;

    border-radius: 20px;

    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.08);

    box-shadow: 0 15px 30px rgba(0,0,0,0.4);

    text-align: center;
    color: #ddd;
}

.icon-user {
    width: 55px;
    height: 55px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background: rgba(0,0,0,0.6);
}

.login-box h2 {
    font-size: 13px;
    margin-bottom: 15px;
}

.input-group {
    text-align: left;
    margin-bottom: 12px;
}

.input-group label {
    font-size: 11px;
    margin-bottom: 4px;
    display: block;
    opacity: 0.8;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;

    background: rgba(255,255,255,0.85);
    outline: none;
}

.forgot {
    font-size: 11px;
    margin: 8px 0;
    opacity: 0.7;
}

.login-box button {
    width: 65%;
    padding: 8px;
    border-radius: 10px;
    border: none;

    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 14px;

    cursor: pointer;
    transition: 0.3s;

    display: block;
    margin: 10px auto;
}

.login-box button:hover {
    background: rgba(0,0,0,0.6);
}

.divider {
    margin: 20px 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: rgba(255,255,255,0.2);
}

.divider span {
    font-size: 11px;
    opacity: 0.7;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.google, .facebook {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
}