main{
    background: linear-gradient(rgba(3, 47, 94, 1), rgba(33, 90, 126, 1));
    font-family: "Inter";
}

.textos-main{
    color: #ffffff;
    text-align: center;
}

.informacoes-do-perfil {
    display: flex;
    flex-direction: column;
    height: 630px;
    width: 450px;
    background: rgba(153, 152, 152, 0.4);
    border: 0.2px solid rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(40px);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 60px rgba(122, 146, 217, 0.4);
    border-radius: 50px;
    margin: 0 auto;
    padding: 40px;
    color: #FEFEFF;
    font-size: 14px;
}

.informacoes-do-perfil input{
    height: 40px;
    width: 215px;
    margin: 0 auto;
    background: rgba(153, 152, 152, 0.4);
    border: 0.2px solid rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 60px rgba(122, 146, 217, 0.4);
    border-radius: 12px;
    color: #ffffff;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.informacoes-do-perfil-1{
    display: flex;
}

.informacoes-do-perfil-1 img{
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

.informacoes-do-perfil-1 p{
    padding-left: 30px;
}

.informacoes-do-perfil-2{
    display: flex;
    flex-direction: column;
}

.div-contagem{
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

.p-perfil{
    color: rgba(254, 254, 255, 0.5);
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}

.zero {
    color: rgba(254, 254, 255, 0.5);
    margin: 0 auto;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 12px;
    padding: 20px;
}

